@import "../mixins.scss";
@import "../variables.scss";

.advantages-list {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 36px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;

  list-style: none;

  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @media (max-width: $desktop-width-only) {
    & br {
      display: none;
    }
  }
}

.advantages-list__item {
  padding-left: 49px;

  &:nth-of-type(1) {
    .advantages-list__title::before {
      position: absolute;
      top: -9px;
      left: -48px;
      content: "";
      width: 39px;
      height: 37px;
      background-image: url("../img/icon-house.svg");
      background-size: 39px 37px;
      background-repeat: no-repeat;
    }
  }

  &:nth-of-type(2) {
    .advantages-list__title::before {
      position: absolute;
      top: -11px;
      left: -47px;
      content: "";
      width: 39px;
      height: 38px;
      background-image: url("../img/icon-gift.svg");
      background-size: 39px 38px;
      background-repeat: no-repeat;
    }
  }

  &:nth-of-type(3) {
    .advantages-list__title::before {
      position: absolute;
      top: -7px;
      left: -50px;
      content: "";
      width: 39px;
      height: 37px;
      background-image: url("../img/icon-burger.svg");
      background-size: 39px 37px;
      background-repeat: no-repeat;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 26px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 330px;
    box-sizing: border-box;
    padding-top: 158px;
    padding-bottom: 60px;
    padding-left: 0;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }

    &:nth-of-type(1) {
      .advantages-list__title::before {
        top: -100px;
        left: -4px;
        width: 75px;
        height: 77px;
        background-size: 75px 77px;
      }

      .advantages-list__text {
        padding: 0 32px;
      }
    }

    &:nth-of-type(2) {
      order: 3;

      .advantages-list__title::before {
        top: -101px;
        left: 6px;
        width: 88px;
        height: 75px;
        background-size: 88px 75px;
      }

      .advantages-list__text {
        padding: 0 30px;
      }
    }

    &:nth-of-type(3) {
      order: 2;

      .advantages-list__title::before {
        top: -95px;
        left: -31px;
        width: 99px;
        height: 68px;
        background-size: 99px 68px;
      }

      .advantages-list__text {
        padding: 0 50px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-of-type(1) {
      .advantages-list__text {
        padding: 0 46px;
      }
    }
  }
}

.advantages-list__title {
  position: relative;
  margin: 0;
  margin-bottom: 16px;

  @include text-styling($size: 18px, $weight: 700, $height: 26px, $transform: uppercase);

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 23px;
  }
}

.advantages-list__text {
  margin: 0;

  @include text-styling($size: 14px, $weight: 400, $height: 21px, $transform: uppercase);

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}
