@import "../mixins.scss";

.advantages-list {
  margin: 0;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;

  list-style: none;
}

.advantages-list__item {
  padding-left: 50px;

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }
}

.advantages-list__title {
  margin: 0;
  margin-bottom: 20px;

  @include text-styling($size: 18px, $weight: 700, $height: 26px, $transform: uppercase);
}

.advantages-list__text {
  margin: 0;

  @include text-styling($size: 14px, $weight: 400, $height: 21px, $transform: uppercase);
}
