@import "../mixins.scss";
@import "../color.scss";

.checkbox-list {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 15px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-row-gap: 42px;
    grid-column-gap: 61px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 46px);
    width: 71%;
    margin: 0 auto;
    padding-top: 59px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-bottom: 33px;
    padding-bottom: 0;
  }
}

.checkbox-list__item {
  &:not(:last-of-type) {
    margin-bottom: 54px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.checkbox-list__input {
  margin: 0;
  padding-left: 74px;
}
