@import "../mixins.scss";
@import "../color.scss";

.checkbox-list {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 36px;

  list-style: none;
}

.checkbox-list__item {
  &:not(:last-of-type) {
    margin-bottom: 54px;
  }
}

.checkbox-list__input {
  margin: 0;
  padding-left: 78px;
}
