@import "../mixins.scss";
@import "../color.scss";
@import "../variables.scss";

.checkbox__label {
  position: relative;

  @include text-styling($size: 18px, $weight: 700, $height: 26px, $transform: none);

  &::before {
    position: absolute;
    top: -17px;
    left: -78px;
    width: 55px;
    height: 55px;
    border-radius: 4px;
    box-sizing: border-box;
    content: "";
    background-color: $inputs-background;
  }
}

.checkbox__button {
  appearance: none;

  &:checked + .checkbox__label::after {
    position: absolute;
    top: 1px;
    left: -62px;
    content: url("../img/icon-tick.svg");
  }

  &:not(:disabled):hover + .checkbox__label::before,
  &:not(:disabled):focus + .checkbox__label::before {
    background-color: $border-color;
  }

  &:not(:disabled):active + .checkbox__label::before {
    background-color: $active-inputs-background;
  }

  &:not(:disabled):active + .checkbox__label::after {
    opacity: 0.3;
  }

  &:disabled + .checkbox__label {
    opacity: 0.4;
  }
}
