@import "../mixins.scss";
@import "../color.scss";

.contact-data {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 1px;

  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2px;
    padding-top: 72px;
  }
}

.contact-data__item {
  &:first-of-type {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 78px;
      margin-bottom: 0;
    }
  }
}

.contact-data__input {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.contact-data__label {
  margin-bottom: 9px;
  margin-left: 22px;

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 16px;

    span {
      display: none;
    }
  }
}

.contact-data__input-field {
  width: calc(100% - 58px);
  margin-right: 58px;

  @media (min-width: $desktop-width) {
    width: 259px;
  }
}
