@import "../mixins.scss";

.copyright {
  position: relative;
}

.copyright__text {
  @include text-styling($size: 14px, $weight: 400, $height: 26px, $transform: uppercase);
}

.copyright__link {
  position: absolute;
  top: -5px;
  right: 0;

  &:hover .copyright__logo,
  &:focus .copyright__logo {
    fill: $main-blue;
  }

  &:active .copyright__logo {
    fill: rgba($black, 0.3);
  }
}
