@import "../mixins.scss";
@import "../color.scss";
@import "../variables.scss";

.feature {
  @media (min-width: $tablet-width) {
    &:first-of-type {
      .feature__article {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: min-content;
      }

      .feature__header {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      .feature__img {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }

    &:nth-of-type(2) {
      .feature__article {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: min-content;
      }

      .feature__header {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
      }

      .feature__img {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }
  }
}

.feature__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 170px;
  padding-right: 22px;
  padding-left: 22px;

  color: $black;
  background-color: $background-gray;

  &--blue {
    min-height: 190px;
    padding-right: 10px;
    padding-left: 10px;

    color: $white;
    background-color: $main-blue;
  }

  @media (min-width: $tablet-width) {
      min-height: 256px;
      padding-right: 32px;
      padding-left: 32px;
  }
}

.feature__title {
  margin: 0;
  margin-bottom: 20px;

  @include text-styling($size: 18px, $weight: 700, $height: 26px, $transform: uppercase);
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.feature__number {
  margin-bottom: 20px;

  @include text-styling($size: 14px, $weight: 400, $height: 21px, $transform: uppercase);
}

.feature__text {
  margin: 0;

  @include text-styling($size: 14px, $weight: 400, $height: 21px, $transform: uppercase);
  text-align: center;
}

.feature__img {
  width: 100%;
}
