@import "../mixins.scss";
@import "../color.scss";

.feature__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;

  color: $black;
  background-color: $background-gray;

  &--blue {
    padding-top: 35px;
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 15px;

    color: $white;
    background-color: $main-blue;
  }
}

.feature__title {
  margin: 0;
  margin-bottom: 20px;

  @include text-styling($size: 18px, $weight: 700, $height: 26px, $transform: uppercase);
  text-align: center;
}

.feature__number {
  margin-bottom: 20px;

  @include text-styling($size: 14px, $weight: 400, $height: 21px, $transform: uppercase);
}

.feature__text {
  margin: 0;

  @include text-styling($size: 14px, $weight: 400, $height: 21px, $transform: uppercase);
  text-align: center;
}

.feature__img {
  width: 100%;
}
