@import "../mixins.scss";

.form {
  width: 87.5%;
  margin: 0 auto 48px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 25px;

  border: none;
  border-top: 1px solid $border-color;
}

.form__fieldset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__legend {
  @include text-styling($size: 18px, $weight: 700, $height: 26px, $transform: uppercase);
  text-align: center;
}

.form__textarea-container {
  width: 100%;
  padding-top: 15px;
}

.form__button {
  width: 100%;
}
