@import "../mixins.scss";
@import "../variables.scss";

.gallery {
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    width: 84%;
    margin: 0 auto;
    padding-top: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 101px;
  }
}

.gallery__header {
  display: flex;
  flex-direction: column;
  width: 89%;
  margin: 0 auto 31px;

  @media (min-width: $tablet-width) {
    width: 446px;
    margin: 0 auto 78px;
  }
}

.gallery__title {
  margin: 0;
  margin-bottom: 28px;

  @include text-styling($size: 18px, $weight: 700, $height: 26px, $transform: uppercase);
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    font-size: 30px;
  }
}

.gallery__text {
  margin: 0;

  @include text-styling($size: 14px, $weight: 400, $height: 24px, $transform: uppercase);
  text-align: center;
}
