@import "../mixins.scss";
@import "../color.scss";
@import "../variables.scss";

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.5%;
  max-width: 458px;
  margin: 0 auto 50px;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin-bottom: 59px;
    padding-top: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 21px;

  @include text-styling($size: 21px, $weight: 700, $height: 26px, $transform: uppercase);
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    font-size: 30px;
  }
}

.hotel-search__text {
  margin: 0;
  margin-bottom: 27px;

  @include text-styling($size: 14px, $weight: 400, $height: 24px, $transform: uppercase);
  text-align: center;

  @media (max-width: $mobile-width-only) {
    & br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.hotel-search__button {
  width: 100%;
}
