@import "../mixins.scss";

.likes {
  position: relative;
  min-width: 66px;
  box-sizing: border-box;
  padding-left: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
  }
}

.likes__like-button {
  position: absolute;
  top: 14px;
  left: 3px;

  width: 23px;
  height: 21px;
}

.likes__counter {
  @include text-styling($size: 14px, $weight: 700, $height: 24px, $transform: uppercase);
}
