@import "../mixins.scss";

.likes {
  position: relative;
  padding-left: 37px;
}

.likes__like-button {
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 21px;
}

.likes__counter {
  @include text-styling($size: 14px, $weight: 700, $height: 24px, $transform: uppercase);
}
