@import "../mixins.scss";

.likes {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }
}

.likes__like-button {
  width: 22px;
  height: 21px;
  box-sizing: border-box;
  padding: 0;
  margin-right: 15px;
  border: none;
  background-color: transparent;


  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    & .likes__like-icon {
      fill: $white;
    }
  }
}

.likes__counter {
  @include text-styling($size: 14px, $weight: 700, $height: 24px, $transform: uppercase);
}
