@import "../variables.scss";

.page__body {
  min-width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.page__main {
  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
