@import "../variables.scss";
@import "../color.scss";

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__nav {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__intro {
  position: relative;
  display: flex;
  width: 100%;
  height: 159px;

  background-color: $main-blue;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 26px;
    content: "";
    background: url("../../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 290px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");

    &::after {
      height: 57px;
      background: url("../../img/bg-intro-triangle-tablet.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 300px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");

    &::after {
      height: 57px;
      background: url("../../img/bg-intro-triangle-desktop.svg");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-back-desktop@2x.jpg");
    }
  }

  &--main {
    height: 390px;
    background-position: center 0;

    @media (min-width: $tablet-width) {
      height: 518px;
    }
  }
}

.page-header__text-picture {
  margin: 90px auto 0;
}
