@import "../variables.scss";
@import "../color.scss";

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo-wrapper {
  position: relative;
  order: 1;
  display: flex;
  justify-content: flex-end;
  height: 55px;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 51px);
}

.page-header__nav {
  order: 0;
}

.page-header__intro {
  order: 2;

  display: flex;
  height: 390px;

  background-color: $main-blue;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__intro-text {
  margin: auto;
}
