@import "../variables.scss";
@import "../color.scss";

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__nav {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__intro {
  display: flex;
  height: 159px;

  background-color: $main-blue;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    height: 290px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 300px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
  }

  &--main {
    height: 390px;

    @media (min-width: $tablet-width) {
      height: 518px;
    }
  }


}

.page-header__intro-text {
  margin: auto;
}
