@import "../mixins.scss";

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 34px;

  @include text-styling($size: 21px, $weight: 700, $height: 26px, $transform: uppercase);
}

.page-footer__social {
  margin-bottom: 45px;
}
