@import "../variables.scss";
@import "../mixins.scss";
@import "../color.scss";

.site-list {
  padding: 0;
  margin: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.site-list__item {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: transparent;

    &:first-of-type,
    &:not(:first-of-type):not(:last-of-type),
    &:last-of-type {
      box-shadow: none;
    }

    &:nth-of-type(2) {
      margin-right: 20%;
    }
  }
}

.site-list__link {
  display: flex;
  justify-content: center;
  min-height: 56px;
  box-sizing: border-box;
  padding-top: 10px;

  @include text-styling($size: 18px, $weight: 700, $height: 40px, $transform: uppercase);
  color: $white;

  text-decoration: none;
  background-color: $main-blue;

  &:first-of-type {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  }

  &:not(:first-of-type):not(:last-of-type) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  &:last-of-type {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
    color: rgba($white, 0.3);
  }

  @media (min-width: $tablet-width) {
    display: inline;
    height: auto;
    min-height: 0;
    padding: 0;

    @include text-styling($size: 14px, $weight: 700, $height: 26px, $transform: uppercase);
    color: $black;

    background-color: transparent;

    &:hover,
    &:focus {
      color: $main-blue;
      background-color: transparent;
    }

    &:active {
      color: rgba($black, 0.3);
      background-color: transparent;
    }

    &--active{
      color: $active-link;

      &:hover,
      &:focus {
        color: $active-link-hover;
      }

      &:active {
        color: rgba($active-link, 0.3);
      }
    }
  }
}
