@import "../mixins.scss";
@import "../color.scss";

.social__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item:not(:last-of-type) {
  margin-right: 6px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $main-blue;
}
