@import "../mixins.scss";
@import "../color.scss";
@import "../variables.scss";

.textarea__field {
  width: 100%;
  min-height: 160px;
  box-sizing: border-box;
  padding: 9px 17px;

  @include text-styling($size: 18px, $weight: 700, $height: 26px, $transform: none);

  background-color: $inputs-background;
  border: 4px solid $inputs-background;
  resize: none;

  &::placeholder {
    color: $black;
    opacity: 1;
  }

  &:hover {
    background-color: $border-color;
    border-color: $border-color;
    outline: none;
  }

  &:active,
  &:focus {
    background-color: white;
    border-color: $border-color;
  }

  &:active:focus {
    background-color: white;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 17px;
  }
}
