@import "../mixins.scss";
@import "../color.scss";

.user-data {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  list-style: none;
}

.user-data__item {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.user-data__input {
  display: flex;
  align-items: center;
  margin: 0;
}

.user-data__label {
  margin-right: 12px;
}

.user-data__input-field {
  width: 100%;
}
