@import "../mixins.scss";
@import "../color.scss";

.user-data {
  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;
}

.user-data__item {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.user-data__input {
  display: flex;
  margin: 0;
}

// .user-data__label {
//   margin-right: 12px;

//   @include text-styling($size: 14px, $weight: 400, $height: 26px, $transform: uppercase);
//   color: $dark-gray;
// }

// .user-data__input {
//   flex-grow: 1;
//   height: 58px;
//   box-sizing: border-box;
//   // margin: 0;
//   // padding: 18px 22px 14px;

//   @include text-styling($size: 18px, $weight: 700, $height: 26px, $transform: none);

//   background-color: $inputs-background;
//   border: none;
// }

// .user-data__input::placeholder {
//   color: $black;
// }
